@page "/campaign-report"


<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;
    }

    ol {
        margin-left: 20px;
    }

        ol li {
            margin-bottom: 10px;
        }
</style>

<div>
    <h1>How to View Campaign Report in Phishsims</h1>

    <h2>Dashboard View</h2>
    <h6>1. Accessing the Dashboard</h6>
    <ol>
        <li>Log in to your Phishsims account.</li>
        <li>Navigate to the Dashboard section.</li>
        <img src="/img/cReport2.png" alt="Screenshot of accessing campaign creation page">
    </ol>

    <h6>2. Recent Campaign Reports</h6>
    <ol>
        <li>On the Dashboard, you will find the "Report Tabs" section displaying the most recent five campaigns.</li>
        <li>Reports are available based on email, SMS, and WhatsApp campaigns.</li>
        <img src="/img/cReport2.png" alt="Screenshot of accessing campaign creation page">
    </ol>

    <h6>3. Bar and Pie Charts</h6>
    <ol>
        <p><strong>Bar Charts:</strong></p>
        <p>1. Displays counts for email, SMS, and WhatsApp communications.</p>
        <p>2. Shows the total(Email, SMS, WhatsApp) count, click count, and reported count for each campaign.</p>
        <img src="/img/cReport3.png" alt="Screenshot of accessing campaign creation page">
        <p>3. Clicking on any of these counts provides a list of recipients involved in that specific action (e.g., email clicks, SMS recipients).</p>
        <img src="/img/cReport4.png" alt="Screenshot of accessing campaign creation page">
        <p><strong>Pie Charts:</strong></p>
        <p>1. Clicks % by Department: Illustrates the distribution of clicks across different departments.</p>
        <img src="/img/cReport5.png" alt="Screenshot of accessing campaign creation page">
        <p>2. Category Wise Failure %: Shows failure percentages categorized by type.</p>
        <img src="/img/cReport6.png" alt="Screenshot of accessing campaign creation page">
        <p>3. Most Clicked Email Templates: Displays the Template which is most clicked by the users.</p>
        <img src="/img/cReport7.png" alt="Screenshot of accessing campaign creation page">

        <h6>You can click on any chart and can check the report of the users from the Campaign/department/Category.</h6>
        
    </ol>

    <h6>3. Interacting with Charts</h6>
    <ol>
        
        <p>You can interact with the bar and pie charts by clicking on various elements to drill down into specific details.</p>
        <img src="/img/cReport9.png" alt="Screenshot of accessing campaign creation page">
        <p>Clicking on data points within the charts provides detailed information and recipient lists.</p>
        <img src="/img/Template8.png" alt="Screenshot of accessing campaign creation page">
       

    </ol>



    <h2>Report Page View</h2>

    <h6>1. Accessing the Report Page</h6>

    <ol>
        <p>From the main navigation menu, select the "Reports" option, Open dropDown and click on "Campaign Report".</p>
        <img src="/img/cReport10.png" alt="Screenshot of accessing campaign creation page">
        <img src="/img/cReport11.png" alt="Screenshot of accessing campaign creation page">
        
    </ol>

    <h6>2. Yearly Campaign Report</h6>
    <ol>
        <p>The Report Page displays a comprehensive overview of campaign activities throughout the year and year can be selected by opening the "Data from 20xx" button.</p>
        <img src="/img/cReport13.png" alt="Screenshot of accessing campaign creation page">
        <p><strong>Metrics include:</strong></p>
        <li>Total recipients who received campaign emails.</li>
        <li>Recipients who clicked on campaign links.</li>
        <li>Recipients who reported suspicious links.</li>
        <li>Percentage of risk calculated based on these metrics.</li>
        

    </ol>
    <h6>3. Bar Charts and Lists</h6>
    <ol>
        <p>Similar to the Dashboard view, the Report Page uses bar charts to visualize campaign metrics.</p>
        <p>Additionally, detailed lists are provided, including recipient details such as ID, Campaign Name, Camp Type, TempId, department, etc.</p>
       
        <p><strong>The lists show:</strong></p>
        <li>Recipients who received campaign emails.</li>
        <li>Recipients who clicked on links.</li>
        <li>Recipients who reported links.</li>
        <li>Risk percentages associated with each recipient.</li>
        <img src="/img/cReport12.png" alt="Screenshot of accessing campaign creation page">

    </ol>

    <h6>4. Interacting with Reports</h6>
    <ol>
        <p>You can interact with the reports on the Report Page by clicking on specific data points or elements to view detailed information.</p>
        <p>The lists provide a comprehensive view of Total recipient actions and associated risk percentages.</p>
        <img src="/img/cReport14.png" alt="Screenshot of accessing campaign creation page">


    </ol>


    <h2>Conclusion</h2>
    <p>By following these steps, you can effectively view Campaign Reports in Phishsims, whether through the Dashboard for recent campaigns or the Report Page for a yearly overview. The interactive charts and detailed lists offer valuable insights into recipient behavior and campaign effectiveness, aiding in risk assessment and mitigation strategies.</p>

</div>

