@page "/get-started"


<div style="margin-bottom:25px" class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Let's Get Started</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Get Started</a></li>
                    @*<li class="breadcrumb-item"><a href="#!">Something New</a></li>*@
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
            <div class="card-body pb-1 faqcard">
                <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-check text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>

    <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
        @*<div style="background:white; border-radius:0 0 43px 43px" class="card-body pb-1">*@
            <div class="card-body pb-1 faqcard">
            <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-flag f-30 text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>

    <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
        @*<div style="background:white; border-radius:0 0 43px 43px" class="card-body pb-1">*@
            <div class="card-body pb-1 faqcard">
            <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-flag f-30 text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>

    <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
            <div class="card-body pb-1 faqcard">
            <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-flag f-30 text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>

    <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
            <div class="card-body pb-1 faqcard">
            <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-flag f-30 text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>

    <div class="col-md-4 col-xl-4 col-sm-12">
    <div class="card bg-c-blue overflow-hidden amount-card">
            <div class="card-body pb-1 faqcard">
            <i style="margin-left: 19px;margin-top: -3px;" class="fa fa-flag f-30 text-c-blue"></i>
            <h4 class="text-c-blue">Report Hub</h4>
        </div>
        <div id="amunt-card1"></div>
        <p class="text-dark">31 Articles</p>
    </div>
</div>
</div>




@code {

}
