@page "/quick-start-content"


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
        position: sticky;
        top: 0;
        background-color: #f6f7fb;
        z-index: 10;
    }

    h2 {
        color: #333;
    }

    .step {
        margin-bottom: 20px;
    }

    /*img {
        max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;
    }*/

    p {
        margin-bottom: 10px;
    }

</style>
    <div>
        <h1>Logging in to PhishSims Application</h1>

        <div class="step">
            <h2>Step 1: Accessing the Login Page</h2>
            <p>Open your web browser and navigate to the PhishSims application login page.</p>
        <img style=" max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;" src="/img/LandingPage.png" alt="Login Page Screenshot">
        </div>

        <div class="step" >
            <h2>Step 2: Entering Your Credentials</h2>
            <p>Enter your username and password in the respective fields on the login form.</p>
        <img style=" max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;" src="/img/LoginPage.png" alt="Login Form Screenshot">
        </div>

        <div class="step">
            <h2>Step 3: Submitting the Login Form</h2>
            <p>Click on the "Signin" button to submit the form.</p>
            <p>If a User has an account in Office 365, They can login by clicking on office 365 User Button.</p>
        </div>

        <div class="step">
            <h2>Step 4: Successful Login</h2>
            <p>If your credentials are correct, you will be logged in and redirected to your dashboard.</p>
        <img style=" max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;" src="/img/LoginLndingPage.png" alt="Dashboard Screenshot">
        </div>

        <div class="step">
            <h2>Step 5: Navigating the Application</h2>
            <p>Explore the different sections and features available within the PhishSims application.</p>
        </div>
    </div>
