@page "/quiz-content"

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;
    }

    ol {
        margin-left: 20px;
    }

        ol li {
            margin-bottom: 10px;
        }
</style>

<div>
    <h1>How to Create Training Quiz</h1>

    <h2>Creating New Quiz</h2>
    <ol>
        <li>Log In: Access your account and navigate to the dashboard.</li>
        <li>Access Training Quiz: Locate the "Training" section in the main menu.</li>
        <img src="/img/Quiz1.png" alt="Screenshot of accessing campaign creation page">
        <li>Click on "Training Quiz" option to enter the page.</li>
        <img src="/img/Quiz2.png" alt="Screenshot of accessing campaign creation page">
        <li>After entering into the Training Quiz screen, Click on "+" icon to create new Quiz.</li>
        <img src="/img/Quiz3.png" alt="Screenshot of accessing campaign creation page">
        <li>Now Click on Add Quiz Name button.</li>
        <img src="/img/Quiz4.png" alt="Screenshot of accessing campaign creation page">
        <li>Add Quiz Name and click on "Add" button.</li>
        <img src="/img/Quiz6.png" alt="Screenshot of accessing campaign creation page">
        <li>You will recive a popup mesage of "Successfully Saved" and close that popup.</li>
        <img src="/img/Quiz8.png" alt="Screenshot of accessing campaign creation page">
    </ol>

    <h2>Adding Quiz Questions</h2>
    <ol>
        <li>Now Click on Quiz drop down and select the quiz which you created.</li>
        <img src="/img/Quiz9.png" alt="Screenshot of accessing campaign creation page">
        <li>Write your first Question in "Question-1" option, select Answer Type (Multiple Choice and Single Choice) and then give the waitage to that question.  </li>
        <img src="/img/Quiz11.png" alt="Screenshot of accessing campaign creation page">
        <img src="/img/Quiz13.png" alt="Screenshot of accessing campaign creation page">
        <li>Then provide the answers options by clicking on "+" button, and mark the correct answer among those options</li>
        <img src="/img/Quiz14.png" alt="Screenshot of accessing campaign creation page">
        <img src="/img/Quiz15.png" alt="Screenshot of accessing campaign creation page">
        <li>Answers can be multiple to a perticular question, you can select the answer by selecting multiple options</li>


        <li>Similarly, Add the questions acording to the waitage out of 100.</li>
        <img src="/img/Quiz17.png" alt="Screenshot of accessing campaign creation page">
        <img src="/img/Quiz18.png" alt="Screenshot of accessing campaign creation page">
        <li>After adding all the questions, click on Submit Button and you will recieve a successfully Added popup</li>
        <img src="/img/Quiz19.png" alt="Screenshot of accessing campaign creation page">
    </ol>
</div>

