@page "/risk-score-content"

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 4px;
        margin-top: 10px;
    }

    ol {
        margin-left: 20px;
    }

        ol li {
            margin-bottom: 10px;
        }
</style>

<div>
    <h1>How to check Risk Score?</h1>

    <h2>Risk Score Parameters</h2>
    <ol>
        <li>Log In: Access your account and navigate to the dashboard.</li>
        <li>Access Training Quiz: Locate the "Report" section in the main menu.</li>
        <img src="/img/Report8.png" alt="Screenshot of accessing campaign creation page">
        <li>Report page will open and on that "Data from "Year" drop down button is there, click on that.</li>
        <img src="/img/RiskScore1.png" alt="Screenshot of accessing campaign creation page">
        <li>From this drop down button you can select the year of which you want the report.</li>
        <img src="/img/RiskScore6.png" alt="Screenshot of accessing campaign creation page">
        <li>"Total" option is the number of recipants who recieved the campaign phishsim mail from diffrent campaigns in the given calendar year.</li>
        <img src="/img/RiskScore2.png" alt="Screenshot of accessing campaign creation page">
        <li>"Clicks" option is the number of recipants amoung the different campaigns, clicked on phishsim mail in the given calendar year.</li>
        <img src="/img/RiskScore3.png" alt="Screenshot of accessing campaign creation page">
        <li>"Report" option is the number of recipants amoung the different campaigns, reported on phishsim mail in the given calendar year.</li>
        <img src="/img/RiskScore4.png" alt="Screenshot of accessing campaign creation page">

        <h5>This is Risk Score</h5>
        <li>"Prone %" option is the percentage of recipants amoung the different campaigns clicked on phishsim mail in the given calendar year.</li>
        <img src="/img/RiskScore5.png" alt="Screenshot of accessing campaign creation page">
    </ol>
    
</div>

