@page "/something-new"

<div class="row">
    <div style="margin-bottom:25px" class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Something New</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Something New</a></li>
                        @*<li class="breadcrumb-item"><a href="#!">Something New</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-12 col-xl-4">
    <div class="card trnasiction-card">
        <div class="card-header bg-c-red">
            <h5 class="text-white">Not Complete<span class="d-block">Cycle ends in 22 days</span></h5>
            <div class="card-header-right">
                    <div class="transection-preogress complited">
                    @*<p class="m-b-0">44%</p>*@
                        <span class="fa fa-check f-20"></span>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
                <div class="trnasiction-profile bg-c-red">
                <h4 class="text-white">RT</h4>
            </div>
            <h6>Registered Respiratory <span class="d-block">Therapist</span></h6>
            <p>RT 334445566</p>
        </div>
        <div class="border-top transection-footer row">
            <div class="col-6  border-right"><a href="#!" class="text-dark"><i class="fa fa-plus-circle m-r-10"></i>Report CE</a></div>
            <div class="col-6"><a href="#!" class="text-dark"><i class="fa fa-eye m-r-10"></i>Transcript</a></div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-xl-4">
    <div class="card trnasiction-card">
        <div class="card-header bg-c-green">
            <h5 class="text-white">Not Complete<span class="d-block">Next cycle starts Feb 2 2017</span></h5>
            <div class="card-header-right">
                <div class="transection-preogress complited">
                    <span class="fa fa-check f-20"></span>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="trnasiction-profile bg-c-green">
                <h4 class="text-white">RN</h4>
            </div>
            <h6>Registered Nurse<span class="d-block">Nurse</span></h6>
            <p>RN 334445566</p>
        </div>
        <div class="border-top transection-footer row">
            <div class="col-6  border-right"><a href="#!" class="text-dark"><i class="fa fa-plus-circle m-r-10"></i>Report CE</a></div>
            <div class="col-6"><a href="#!" class="text-dark"><i class="fa fa-eye m-r-10"></i>Transcript</a></div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-xl-4">
    <div class="card trnasiction-card">
        <div class="card-header bg-c-blue">
            <h5 class="text-white">Not Complete<span class="d-block">Next cycle starts Feb 2 2017</span></h5>
            <div class="card-header-right">
                <div class="transection-preogress complited">
                    <span class="fa fa-check f-20"></span>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="trnasiction-profile bg-c-blue">
                <h4 class="text-white">MT</h4>
            </div>
            <h6>Massage<span class="d-block">Therapist</span></h6>
            <p>MT 334445566</p>
        </div>
        <div class="border-top transection-footer row">
            <div class="col-6  border-right"><a href="#!" class="text-dark"><i class="fa fa-plus-circle m-r-10"></i>Report CE</a></div>
            <div class="col-6"><a href="#!" class="text-dark"><i class="fa fa-eye m-r-10"></i>Transcript</a></div>
        </div>
    </div>
</div>
</div>




@code {

}
