.table td {
    padding: 0.30rem 0.75rem !important;
    vertical-align: middle !important;
}

.gridOcolor {
    background-color: #f8f9fa !important;
    /*font-size: larger !important;*/
    background: border-box;
    color: #001327;
}

.gridEcolor {
    background-color: #dee2e6 !important;
    /*font-size: larger !important;*/
    background: border-box;
    color: #001327;
}

.gridtitle {
    background-color: lightskyblue !important;
    font-size: 16px !important;
    background: border-box;
}

table.grid-table .grid-header > .grid-header-group > .grid-header-title > button {
    color: #0056b3 !important;
    font-size: 16px !important;
}

.grid-header-title button {
    text-decoration: none !important;
    background-color: transparent !important;
    font-size: large !important;
    cursor: pointer;
}

table.grid-table .grid-header {
    color: #00264e !important;
}
/*.table thead th {
            border: 1px solid black !important;
            background: aliceblue !important;
        }*/
.table-bordered td, .table-bordered th {
    border: 1px solid #e2e5e8;
}

.custom {
    font-weight: 500 !important;
    font-size: 16px !important;
}
/*.dropdown-menu {
            left:270px;
        }*/
.dropdown-menu[data-bs-popper] {
    top: 145% !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #360406;
}
/*.dropdown:hover .dropdown-menu {
            display: block !important;
            margin-top: 0 !important;
            
        }*/
table.striped > tbody > tr.grid-row:nth-of-type(odd) {
    background-color: #dee2e6 !important;
}

.required-field::after {
    content: "*";
    color: red;
}

.table td {
    padding: 0.30rem 0.75rem !important;
    vertical-align: middle !important;
}

.gridOcolor {
    background-color: #f8f9fa !important;
    /*font-size: larger !important;*/
    background: border-box;
    color: #001327;
}

.gridEcolor {
    background-color: #dee2e6 !important;
    /*font-size: larger !important;*/
    background: border-box;
    color: #001327;
}

.gridtitle {
    background-color: lightskyblue !important;
    font-size: 16px !important;
    background: border-box;
}

table.grid-table .grid-header > .grid-header-group > .grid-header-title > button {
    color: #007bff;
    font-size: 16px !important;
}

.grid-header-title button {
    text-decoration: none !important;
    background-color: transparent !important;
    font-size: large !important;
    cursor: pointer;
}

.table thead th {
    background: #bec7ea;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #e2e5e8;
}

.custom {
    font-weight: 500 !important;
    font-size: 16px !important;
}
/*.dropdown-menu {
            left:270px;
        }*/
.dropdown-menu[data-bs-popper] {
    top: 145% !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #360406;
}

/*.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
}*/

table.striped > tbody > tr.grid-row:nth-of-type(odd) {
    background-color: #dee2e6 !important;
}

.required-field::after {
    content: "*";
    color: red;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
}

.note-editable {
    background: #ffffff !important;
}

.bold-font {
    font-weight: bold;
}


/*HomePage css*/


/**/
header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

#logo {
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #00a7ff; /* blue */
}

    #logo:hover {
        color: #eef9ff; /* white */
    }

#logo-s {
    color: #eef9ff; /* white */
    margin-left: 5px;
}

#logo:hover #logo-s {
    color: #00a7ff; /* blue */
}


/* 2 */
.slider {
    position: relative;
    width: 100%;
    background: #2c3e50; /* darckblue */
}

.myslide {
    height: 655px;
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

    .prev:hover, .next:hover {
        color: #00a7ff; /* blue */
    }

.next {
    right: 0;
}




/* javascript */
.active, .dot:hover {
    border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}
/* /muslide add fade */

/* 3 */
.txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}


@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

.txt h1 {
    color: #00a7ff; /* blue */
    font-size: 50px;
    margin-bottom: 20px;
}

.txt p {
    font-weight: bold;
    font-size: 20px;
}
/* /3 */

/* 4 */
imgs {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px) {
    .myslide {
        height: 500px;
    }

    .txt {
        letter-spacing: 2px;
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }


    @keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    .txt h1 {
        font-size: 40px;
    }

    .txt p {
        font-size: 13px;
    }
}
/* /5 */


.carousel-inner img {
    width: 100%;
    height: 100%;
}

.para {
    text-align: left;
    font-family: cursive;
    font-size: 20px;
}

/*Havit multiSelect css*/
.dropdown-menu.show {
    max-width: 100%;
    max-height: 100px !important;
}
