<div>
    <div class="row pl-5">
        <div class="card bg-c-blue order-card col-5">
            <div class="card-body">
                <a href="#!">
                    <div class="row align-items-center m-b-0">
                        <div class="col" style="padding: 0">
                            <h6 class="m-b-5 text-white">Total</h6>
                        </div>
                        <div class="col-auto">
                            <h3 style="color:black">@Total</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="card bg-c-yellow order-card col-5 ml-1">
            <div class="card-body">
                <a href="#!">
                    <div class="row align-items-center m-b-0">
                        <div class="col" style="padding: 0">
                            <h6 class=" m-b-5 text-white">Total Clicks</h6>
                        </div>
                        <div class="col-auto">
                            <h3 style="color:black">@Hits</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row pl-5">
        <div class="card bg-c-green order-card col-5">
            <div class="card-body">
                <a href="#!">
                    <div class="row align-items-center m-b-0">
                        <div class="col" style="padding: 0">
                            <h6 class="m-b-5 text-white">Reported</h6>
                        </div>
                        <div class="col-auto">
                            <h3 style="color:black">@Reported</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="card bg-c-red order-card col-5 ml-1">
            <div class="card-body">
                <a href="#!">
                    <div class="row align-items-center m-b-0">
                        <div class="col" style="padding: 0">
                            <h6 class=" m-b-5 text-white">Prone %</h6>
                        </div>
                        <div class="col-auto">
                            <h3 style="color:black">@PronePercent</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public int Total { get; set; }
    
    [Parameter]
    public int Hits { get; set; }
    
    [Parameter]
    public int Reported { get; set; }
    
    [Parameter]
    public decimal PronePercent { get; set; }

}
