    <div class="table-responsive">
            <table id="email" class="table table-striped table-bordered nowrap">
                 <thead>
                       <tr role="row">
                          <th>ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Department</th>
                          <th>Training Status</th>                                                         
                       </tr>
                 </thead>
                 <tbody> 
                      <tr>                         
                       <td>1</td>                                         
                       <td>Ashish Sahu</td>                                         
                       <td>Ashish.sahu@credentInfotech.com</td>                                         
                       <td>PISCIN</td>                                         
                       <td style="color:green">Completed</td>                                         
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Vikas Goyal</td>
                        <td>Vikas.Goyal@credentInfotech.com</td>
                        <td>PISCIN</td>
                        <td style="color:orange">InCompleted</td>
                      </tr>
                        <tr>
                            <td>3</td>
                            <td>Shweta Khosla</td>
                            <td>Shweta.Khosla@credentInfotech.com</td>
                            <td>PISCIN</td>
                            <td>Completed</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Kapil Jain</td>
                            <td>Kapil.Jain@credentInfotech.com</td>
                            <td>Finance & Accounts</td>
                            <td style="color:green">Completed</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Sougata Ray</td>
                            <td>Sougata.Ray@credentInfotech.com</td>
                            <td>Finance & Accounts</td>
                            <td style="color:green">Completed</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Smruti Ranjan Sahoo</td>
                            <td>SmrutiRanjan.Sahoo@credentInfotech.com</td>
                            <td>Finance & Accounts</td>
                            <td style="color:green">Completed</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Sanjay Manik</td>
                            <td>Sanjay.Manik@credentInfotech.com</td>
                            <td>Sales & Service</td>
                            <td style="color:orange">InCompleted</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Sham Sundar</td>
                            <td>Sham Sundar@credentInfotech.com</td>
                            <td>Sales & Service</td>
                            <td style="color:orange">InCompleted</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Srinivas M M</td>
                            <td>Srinivas@credentInfotech.com</td>
                            <td>Sales & Service</td>
                            <td style ="color:green">Completed</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Atul Kumar</td>
                            <td>Atul.Kumar@credentInfotech.com</td>
                            <td>General Trade</td>
                            <td style="color:green">Completed</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Vijay Singh</td>
                            <td>Vijay.Singh@credentInfotech.com</td>
                            <td>General Trade</td>
                            <td style="color:orange">InCompleted</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Naveen Pandey</td>
                            <td>Naveen.Pandey@credentInfotech.com</td>
                            <td>General Trade</td>
                            <td style="color:green">Completed</td>
                        </tr>
                                               
                 </tbody>                                                                            
            </table>
            <div style="float:right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><button class="page-link" style="color:darkgray">Previous</button></li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><button class="page-link">Next</button></li>
                    </ul>
                </nav>
            </div>
   </div>
      

@code {

}
