@page "/"
@page "/Index"
<PageTitle>PhishSim | Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Dashboard</h1>
    </Authorized>
    <NotAuthorized>
        <h1>PhishSim</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to Phishing Simulator.
@*
<DialogTemplate Show="true">
    <h1>Somthing in the dialog</h1>
</DialogTemplate>*@