@page "/"
@page "/Index"


<PageTitle>PhishSim | Home</PageTitle>

<AuthorizeView Roles="tenantadmin">
    <Authorized>
        <TenantDashboard />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="superadmin">
    <Authorized>
        <h3>Admin Dashboard</h3>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="superadmin">
    <NotAuthorized>



    </NotAuthorized>
</AuthorizeView>

