@page "/nosubscription"

@layout AuthLayout

<div class="card-body" style="padding: 32px 6px;">
    <img src="assets/images/logo.png" alt="" class="img-fluid mb-1" style="max-width: 50% !important;">
    <h3 class="mb-3" style="font-size:24px;font-family: cursive;">Welcome to <span class="text-c-blue"> PhishSims</span></h3>

    <div class="toggle-block">
        <div class="input-group mb-2 has-validation">
            <div class="input-group-prepend">
               
            </div>
        </div>
        <div class="input-group has-validation">
            <div class="input-group-prepend">
              
            </div>
        </div>
        <div class="form-group text-left mt-3">
            <div class="checkbox checkbox-primary d-inline">
                <h3>No valid subscription found.</h3>
            </div>
        </div>
        <a class="btn  btn-warning mb-2 col fa fa-windows" href="/">Subscribe And Reload</a>

    </div>
</div>
