@page "/tenant-settings"
@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Client

@inject TenantClient client
@inject ILogger<TenantCampaigns> logger

<h3>Settings</h3>

@code {
    string message = string.Empty;
}
