@page "/tenant-templates"

@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@using BlazingComponents.Summernote
@using PhishingPortal.UI.Blazor.Pages.GridButtons
@using PhishingPortal.UI.Blazor.Pages.GridComponent
@inject NavigationManager NavigationManager
@inject TenantClient client
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject AuthState authState;
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="padding:25px 25px 0px;">
                    <h5>All Templates</h5>
                    <a class="btn btn-primary" href="tenant-templates-config" ><span class="oi oi-plus"></span></a>    
                     <div style="float:right">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active">Templates</li>
                        </ol>
                     </div>
                </div>
            
                <div class="card-body" >
                    <div class="bt-wizard" id="tabswizard">
                        <ul class="nav nav-pills">
                            @if (Tab == 1)
                            {
                                <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailt" class="nav-link rounded-0 active" data-toggle="tab">Email</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smst" class="nav-link rounded-0" data-toggle="tab">SMS</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappt" class="nav-link rounded-0 " data-toggle="tab">Whatsapp</a></li>
                            }
                            @if (Tab == 2)
                            {
                                <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailt" class="nav-link rounded-0" data-toggle="tab">Email</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smst" class="nav-link rounded-0 active" data-toggle="tab">SMS</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappt" class="nav-link rounded-0 " data-toggle="tab">Whatsapp</a></li>
                            }
                            @if (Tab == 3)
                            {
                                <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailt" class="nav-link rounded-0 " data-toggle="tab">Email</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smst" class="nav-link rounded-0" data-toggle="tab">SMS</a></li>
                                <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappt" class="nav-link rounded-0 active" data-toggle="tab">Whatsapp</a></li>
                            }
                        </ul>
                        <div class="tab-content card">
                            <div class="pt-1 bg-primary"></div>
                            @if (Tab == 1)
                            {
                                <div class="tab-pane card-body pt-4 active show" id="tabs-t-tab1">
                                    <div class="table-responsive">
                                        <EmailTemp/>
                                    </div>
                                </div>                              
                            }
                            @if (Tab == 2)
                            {
                                <div class="tab-pane card-body pt-4 active show" id="tabs-t-tab2">
                                    <div class="table-responsive">
                                        <SmsTemp />
                                    </div>
                                </div>
                            }
                            @if (Tab == 3)
                            {
                                <div class="tab-pane card-body pt-4 active show" id="tabs-t-tab3">
                                    <div class="table-responsive">
                                        <WhatsTemp />
                                    </div>
                                </div>
                            }

                        </div>



                    </div>
                </div>


         
            </div>
        </div>  
    </div>

<DialogTemplate Show="showPreview" Title="Template Preview">
    <br />
    @if (sms is true)
    {
        <textarea class="col-sm-12" style="background-color:lavender; height:243px;" @bind="text" disabled />

    }
    else
    {
        @previewContent
    }

    <br />
    <button class="btn btn-warning col-md-12" @onclick="OnClosePreview">Close</button>

</DialogTemplate>



@code {
    public bool showPreview = false;
    string content = string.Empty;
    bool IsError = false;
    bool IsSuccess = false;

    string text = "";
    bool sms = false;
    MarkupString previewContent => (MarkupString)content;
    //List<CampaignTemplate> Templates;

    protected override async Task OnInitializedAsync()
    {
        //Templates = await client.GetTemplatesByType(type);
        Tab = await oLocalStore.GetItemAsync<int>("tTab");
        if (Tab == 0)
            Tab = 1;
    }

    public void OnPreviewClick(CampaignTemplate template)
    {
        showPreview = true;

        if(template.Type==CampaignType.Email)
        {

            sms = false;
            content = template.Content;           
        }
        if(template.Type==CampaignType.Sms)
        {
            sms = true;
            text = template.Content;           
        }

        //InvokeAsync(() => StateHasChanged());
    }


    protected void OnClosePreview()
    {
        content = string.Empty;
        showPreview = false;
    }

   
    public int Tab = 1;
    public async void SaveSession()
    {
        await oLocalStore.SetItemAsync("tTab", Tab);
    }
    public void Emailt() { Tab = 1; SaveSession(); }
    public void Smst() { Tab = 2; SaveSession(); }
    public void Whatsappt() { Tab = 3; SaveSession(); }

}
