@page "/tenant-settings"

@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.UI.Blazor.Models

@inject TenantClient client
@inject ILogger<TenantCampaigns> logger
@inject CustomStateProvider authStateProvider
@attribute [Authorize(Roles = "tenantadmin")]

<div class="row">
    <div class="card">
        <div class="card-header" style="padding:5px 0px 0px;">
            <h5 style="color:coral; margin-top: 15px;">Settings <i class="fa fa-cog" aria-hidden="true"></i></h5>
            <div style="float:right">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
            </div>
        </div>


        <div class="card-body p-2">

            <AzureAppConfigurations />

            <TenantRedirecUrls />

        </div>
    </div>
</div>