@page "/training-video-upload"
@using Microsoft.Extensions.Logging;
@using PhishingPortal.Dto;
@using PhishingPortal.UI.Blazor.Client;
@using PhishingPortal.UI.Blazor.Models;
@using System.ComponentModel.DataAnnotations;
@using System.Linq
@using System.Net.Http.Headers
@using System.Text.Json;
@using System.Text;
@inject HttpClient Http
@inject TenantClient client;
@inject ILogger<Index> Logger
@attribute [Authorize]

<LicencedView @ref="licencedViewRef" ShowLicenseWarning="false" AppModule="AppModules.TrainingCampaign" ReadOnly="true" IsButton="true">
    <div class="page-header breadcumb-sticky">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">
                            Training Videos
                        </h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a>Training</a></li>
                        <li class="breadcrumb-item"><a>Training-Video</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-body p-1">

            <div class="card-body p-2 mt-n2">
                <TrainingVideoUploader RefreshTrainingVideos="@RefreshTrainingVideos" />

                <div class="dt-responsive table-responsive">
                    @if (_isLoading)
                    {
                        <div class="col-sm-12" style="margin-top:40vh">
                            <div class="card-header">
                                <div class="loading-bar"></div>
                            </div>
                        </div>
                    }

                    else
                    {
                        <table id="redirect-urls" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>Video Title</th>
                                    <th>Path</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var video in trainingVideos)
                                {
                                    <tr role="row" class="odd">
                                        <td>@video.Id</td>
                                        <td>@video.VideoTitle</td>
                                        <td>@video.FilePath</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }

                </div>
            </div>

        </div>
    </div>
</LicencedView>

@code {
    private LicencedView licencedViewRef;
    bool _isLoading = false;
    IEnumerable<TrainingVideo> trainingVideos;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        trainingVideos = await client.GetTrainigVideo();
        _isLoading = false;
    }

    public async void RefreshTrainingVideos()
    {
        _isLoading = true;
        trainingVideos = await client.GetTrainigVideo();
        _isLoading = false;
        StateHasChanged();
    }
    private TrainingVideoUploader uploaderRef;
}
