@page "/training-Quizzes"
@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@using BlazingComponents.Summernote
@using PhishingPortal.UI.Blazor.Pages.GridButtons
@using PhishingPortal.UI.Blazor.Pages.GridComponent
@inject NavigationManager NavigationManager
@inject TenantClient client
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject AuthState authState;
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@attribute [Authorize]

@using GridShared.Events
@using Newtonsoft.Json.Linq
@using System.Drawing
@using GridShared
@using GridShared.Utility

<div class="page-header breadcumb-sticky">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">
                        Training Quiz
                        <a href="training-quiz"><i class="fa fa-plus-circle fa-lg" aria-hidden="true" title="Create Quiz"></i></a>
                    </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a>Training</a></li>
                    <li class="breadcrumb-item"><a>TrainingQuiz</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p-0">

        <div class="card-body p-2 mt-n3">
            <div class="bt-wizard" id="tabswizard">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#tabs-t-tab1" class="nav-link rounded-0 active" data-toggle="tab">Training Questions</a></li>
                </ul>
                <div class="tab-content card">
                    <div class="pt-1 bg-primary"></div>
                    <div class="tab-pane card-body pt-4 p-2 active show" id="tabs-t-tab1">
                        <div class="table-responsive">
                            <TrainingsQuizzesTable />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@code {

}
