@page
@model ForgotPasswordModel
@{
    Layout = "/Pages/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    <form method="post">
        <img src="~/custom/assets/images/credent_solutions_logo.png" alt="" class="img-fluid mb-4">
        <h4 class="mb-3 f-w-400">Reset your password</h4>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
            </div>
        @*    <input type="email" class="form-control" placeholder="Email address">*@
            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                   aria-required="true" placeholder="Email address" />
        </div>
     @*   <button class="btn btn-block btn-primary mb-4">Reset password</button>*@
         <button type="submit" class="btn btn-block btn-primary mb-4">Reset password</button>
        <p class="mb-0 text-muted">Click here to <a href="login" class="f-w-400">login</a></p>
    </form>
</div>
@*
<div class="container float-end">
    <section>
        <form method="post" class="col-5">
            <h5>
                Enter your email
            </h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-1">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username"
                       aria-required="true" placeholder="Enter your Email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger" style="font-size:12px"></span>
            </div>
            <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
        </form>
    </section>
</div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
