@page
@{
    Layout = "/Pages/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    Reset email sent to the corresponding mail box.
    <p class="mb-0 text-muted">Click here to <a href="login" class="f-w-400">login</a></p>
</div>
