@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PhishingPortal.UI.Blazor.Services

@inject NavigationManager Navigation
@inject CustomStateProvider StateProvider


<div class="d-flex">
    <div class="user-info">
        <AuthorizeView>
            <Authorizing>
                <text>...</text>
            </Authorizing>
            <Authorized>

                <div class="dropdown drp-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                       @*  <img src="assets/images/user/avatar-1.jpg" class="img-radius wid-40"
                             alt="User-Profile-Image"> *@
                        <div style="cursor:pointer" class="profile-image-circle">@context.User.Identity.Name.Split('@')[0].ToUpper().Substring(0, 1)</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="/assets/images/auth/no-profile.png" class="img-radius" alt="User-Profile-Image">
                            <span>@context.User.Identity.Name.Split('@')[0].ToUpper()</span>
                            <a @onclick="BeginSignOut" class="dud-logout" title="Logout" style="cursor:pointer">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        <ul class="pro-body">
                            <li>
                                <a href="/user-profile" class="dropdown-item" style="cursor:pointer">
                                    <i class="feather icon-user"></i>
                                    Profile
                                </a>
                            </li>
                           
                            <li>
                                <a @onclick="BeginSignOut" class="dropdown-item" style="cursor:pointer">
                                    <i class="feather icon-lock"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </Authorized>
            <NotAuthorized>
                <header class="d-flex align-items-center justify-content-between mt-3" style="height: 40px;">
                    <div id="logo" class="mr-3">
                        <a class="b-brand" style="margin-left:-40px">
                            <img src="/assets/images/ps.png" alt="Credent Infotech" class="img-fluid" style="height:42px"
                                 width="200" height="40">
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="btn btn-secondary btn-outline-warning mr-3" href="login?ReturnUrl=@(Navigation.Uri)">Login</a>
                        <a class="btn btn-secondary btn-outline-info mr-3" href="request_demo">Request Demo</a>
                    </div>
                </header>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task BeginSignOut()
    {
        await StateProvider.Logout();
        Navigation.NavigateTo("/");
    }
}