@if (IsSuccess && !string.IsNullOrEmpty(Message))
{
    <div class="alert alert-primary" role="alert">
        @Message
    </div>
}
else if (IsError && !string.IsNullOrEmpty(Message))
{
    <div class="alert alert-warning" role="alert">
        @Message
    </div>
}
@code {

    private bool _isError;

    [Parameter]
    public bool IsError
    {
        get { return _isError; }
        set
        {
            _isError = value;
            StateHasChanged();
        }
    }

    private bool _isSuccess;
    [Parameter]
    public bool IsSuccess
    {
        get { return _isSuccess; }
        set
        {
            _isSuccess = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string Message { get; set; } = string.Empty;
}