@inherits LayoutComponentBase

<div class="page">
    <main>
       
      
        <article >
            <div >
                 @Body
            </div>
        </article>
      
    </main>
</div>
