@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-info">
           <div class="m-header">                          
              <a href="#!" class="b-brand" style="margin-left:-50px">
                  <img src="/custom/assets/images/ps.png" alt="Credent Infotech" class="img-responsive" width="220" height="45">
              </a>          
           </div>                            
        </header>
       
        <article >
            <div >
                 @Body
            </div>
        </article>
      
    </main>
</div>
