@if (Show)
{

    @*string cssClass = Title.Contains("Success") ? "btn-success" : "btn-danger";*@
     string cssClass;
    if (Title.Contains("Added") || Title.Contains("Submitted"))
    {
        cssClass = "btn-success";
    }
    else if (Title.Contains("Updated"))
    {
        cssClass = "btn-warning";
    }
    else
    {
        cssClass = "btn-danger";
    }

    <div class="dialog-container" style="width:100%; height:110vh; z-index: 9999;">

        <div class="dialog" style="width:300px"> @*popup screen size*@
       
                <div class="card" style="margin:0; pading:0">
                    <div class="card-header">
                    <div class="@cssClass" style="text-align:center; border-radius: 15px; padding:5px">
                               <h5 style="">@Title</h5>
                        <a @onclick="onClose" title="Close" style="cursor:pointer; float:right; padding-right:5px;"><i class="fa fa-times-circle  fa-lg" aria-hidden="true"></i></a>
                           </div>
                     </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @ChildContent
                            </div>
                        </div>
                    </div>
                </div>

          
        </div>
    </div>

}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public EventCallback<bool> OnCloseDialog { get; set; }
    
    private async Task onClose()
    {
        await OnCloseDialog.InvokeAsync(false);
    }

}
