@if (Show)
{

    <div class="dialog-container">

        <div class="dialog" >

            <div class="card">
                <div class="card-header">
                    @Title
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>

          
        </div>
    </div>
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "Dialog";
  
}
