@using PhishingPortal.UI.Blazor.Pages
@inject NavigationManager NavigationManager

@if (Show)
{

    <div class="dialog-container" style="width:100%; height:200vh">

        <div class="dialog" style="width:70%; margin-top:6%">
            @*popup screen size*@

            <div class="card">

                <div class="card-header bg-info" style="padding:15px !important;">
                    <h5 class="text-white">@Title</h5>
                    @if (Title == "Template Preview" || Title == "Import Campaign Recipients" || Title == "Imported Training Recipients")
                    {
                        <div style="float:right">
                            <a @onclick="onClose" style="cursor:pointer;"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        </div>
                    }
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mt-2">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public EventCallback<bool> OnCloseDialog { get; set; }

    TenantCampaignConfig campaignConfig = new TenantCampaignConfig();

    private async Task onClose()
    {
        await OnCloseDialog.InvokeAsync(false);

        //if (Title == "Template Preview") { NavigationManager.NavigateTo($"/tenant-templates"); }
    }
}
