@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>

            <div class="container-fluid">
                <img height="24px" width="24px" src="img/user.svg" />
                <a href="authentication/profile" class="username">@context.User.Identity.Name.Split('@')[0].ToUpper()</a>

                <button class="btn btn-link sign-out" @onclick="BeginSignOut">LOGOUT</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class=container-fluid>
              @*  <a class="btn-link" href="authentication/register">Register</a>*@
                <a class="btn-link" href="authentication/login">Log in</a>
            </div>

        </NotAuthorized>
    </AuthorizeView>
</div>

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}