@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<div class="d-flex">
<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <div class="dropdown">
                <img height="24px" width="24px" src="img/user.png" />
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    @context.User.Identity.Name.Split('@')[0].ToUpper()
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="authentication/profile">Profile</a></li>
                    <li><a @onclick="BeginSignOut" class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </Authorized>
        <NotAuthorized>


            <div class=container>
                <img height="24px" width="24px" src="img/user.png" />
                <a class="btn btn-secondary btn-outline-warning" href="authentication/login">Already Have Account</a>
                <a class="btn btn-secondary btn-outline-info" href="#">Request Demo</a>
            </div>


        </NotAuthorized>
    </AuthorizeView>
</div>
</div>



@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}