@using Microsoft.AspNetCore.Components.Authorization
@using PhishingPortal.UI.Blazor.Models
@inherits LayoutComponentBase

<div class="page">

    <AuthorizeView Roles="superadmin">
        <Admin_topnav />
    </AuthorizeView>

    <AuthorizeView Roles="tenantadmin">
        <Topnav />
    </AuthorizeView>

    <AuthorizeView Roles="tenantuser">
        <Authorized>
            <FrontPage IsTrainingLanding="true"></FrontPage>
        </Authorized>
    </AuthorizeView>

    <main>
    <AuthorizeView>
        <NotAuthorized>
            <FrontPage></FrontPage>
        </NotAuthorized>
    </AuthorizeView>

        <article class="content px-4">
            <CascadingValue TValue="AlertModel" Value="alerts">
                <div style="margin-top:0px">
                    @Body
                </div>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private AlertModel alerts = new AlertModel();
}
