@using Microsoft.AspNetCore.Components.Authorization
@using PhishingPortal.UI.Blazor.Models
@inherits LayoutComponentBase
@using PhishingPortal.UI.Blazor.Pages


<div class="">
    <main>
        <AuthorizeView Roles="superadmin">
            <Admin_topnav />
        </AuthorizeView>

        <AuthorizeView Roles="tenantadmin">
            @* <Topbar /> *@
           <Licensed ShowLicenseWarning="false">
                <SideNavBar IsCollapsedChanged="HandleIsCollapsedChanged" />
           </Licensed>
        </AuthorizeView>

        <AuthorizeView Roles="tenantuser">
            @*<UserPage IsTrainingLanding="true"></UserPage>*@
            <UserPage IsCollapsedChanged="HandleIsCollapsedChanged" />
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                @* <LoginDisplay /> *@
                <LoginHome />
                <SlideShow />
            </NotAuthorized>

        </AuthorizeView>
        <AuthorizeView Roles="superadmin,tenantuser">
            <article class="content">
                <CascadingValue TValue="AlertModel" Value="alerts">
                    <div class="pcoded-main-container mt-4" style="@($"margin-left: {(IsCollapsed ? "70px" : "235px")};")">
                        <div class="pcoded-content">
                            @Body
                        </div>
                    </div>
                </CascadingValue>
            </article>
        </AuthorizeView>

        <AuthorizeView Roles="tenantadmin">
            <article class="content">
                <CascadingValue TValue="AlertModel" Value="alerts">
                    <div class="pcoded-main-container mt-4" style="@($"margin-left: {(IsCollapsed ? "70px" : "235px")};")">
                        <div class="pcoded-content">
                           <Licensed ShowLicenseWarning="true">
                                @Body
                           </Licensed>
                        </div>
                    </div>
                </CascadingValue>
            </article>
        </AuthorizeView>

    </main>
</div>

@code {
    private AlertModel alerts = new AlertModel();

    private bool IsCollapsed = false;

    private void HandleIsCollapsedChanged(bool newValue)
    {
        IsCollapsed = newValue;
    }
}
