@inherits LayoutComponentBase

<div class="page">
    <main>
       
 @*       <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo-img.png" alt="" class="img-thumbnail">
                </a>
            </div>
        </nav>*@
        <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-info">
                        <div class="m-header">
                           
                            <a href="#!" class="b-brand" style="margin-left:-50px">
                                <img src="/custom/assets/images/ps.png" alt="Credent Infotech" class="img-responsive"
                                    width="220" height="45">
                            </a>
           
                        </div>
                            
        </header>
      
        <article class="content px-4">
            <div style="margin-top:7%">
                 @Body
            </div>
        </article>
      
    </main>
</div>
