@inherits LayoutComponentBase

<div class="page">
    <main>
       
        <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo-img.png" alt="" class="img-thumbnail">
                </a>
            </div>
        </nav>
      
        <article class="content px-4">
            @Body
        </article>
      
    </main>
</div>
