@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Pages.GridButtons
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthState authState;


@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-sm-12">
            <GridComponent T="Training" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <div class="col-sm-12" style="margin-top:5vh">

        <div class="card-header">
            <div class="loading-bar"></div>
        </div>

    </div>
}

@code
{
    private CGrid<Training> _grid;
    private Task _task;

    Action<IGridColumnCollection<Training>> columns = c =>
    {
        c.Add(o => o.Id).SetWidth("50px").Css("table-bordered");
        c.Add(o => o.TrainingName).Css("table-bordered");
        c.Add(o => o.State).Css("table-bordered");
        c.Add(o => o.IsActive).Css("table-bordered");
        //c.Add(o => o.TrainingVideo).Css("table-bordered");
        c.Add(o => o.TrainingCategory).Css("table-bordered");
        c.Add(o => o.CreatedBy).Css("table-bordered");
        c.Add(o => o.CreatedOn).Css("table-bordered").Titled("CreatedOn");
        // c.Add(o => o.ModifiedOn).Css("table-bordered").Titled("ModifiedOn");
        c.Add().Encoded(false).Sanitized(false).RenderComponentAs<TrainingEditButton>().SetWidth("50px");
    };

    protected override async Task OnParametersSetAsync()
    {
        string url = $"odata/Training?t={authState.TenantIdentifier}";
        var query = new QueryDictionary<StringValues>();
        query.Add("grid-sorting", "Id__1__1");

        var client = new GridODataClient<Training>(HttpClient, url, query, false, "ordersGrid", columns, 10)
            //.Sortable()
            .Filterable(true)
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .SetExcelExport(true, true, "Training")
            .ChangePageSize(true)
            .EmptyText("No Data Available!!")
            .SetKeyboard(true)
            .Searchable(true, false, false);

        _grid = client.Grid;
        _task = client.UpdateGrid();
        await _task;
    }


}