@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@implements ICustomGridComponent<CampaignTemplate>
@inject NavigationManager NavigationManager

<button class='btn btn-sm btn-info' @onclick="MyClickHandler"><i class="fa fa-eye"></i></button>

@code {

    [Parameter]
    public CampaignTemplate Item { get; set; }

    TenantTemplates temp = new TenantTemplates();

    private void MyClickHandler(MouseEventArgs e) => temp.OnPreviewClick(Item);
}