@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Pages.GridComponent
@implements ICustomGridComponent<CampaignTemplate>
@inject NavigationManager NavigationManager

<LicencedView @ref="licencedViewRef" ShowLicenseWarning="false" AppModule="@(Item.Type==CampaignType.Email ? AppModules.EmailCampaign : (Item.Type==CampaignType.Sms ? AppModules.SmsCampaign : AppModules.WhatsAppCampaign))" ReadOnly="true" IsButton="true">
    <button style="border-radius:15px" class='btn btn-sm btn-secondary @(licencedViewRef?.CurrentMode != AccessMode.ReadWrite ? "disabled-view" : "")'
        @onclick="(licencedViewRef?.CurrentMode == AccessMode.ReadWrite ? MyClickHandler : null)" title="View">
        <i class="fa fa-eye"></i>
    </button>
</LicencedView>
@* <button class='btn btn-sm btn-info' style="border-radius:15px" @onclick="MyClickHandler" title="View"><i class="fa fa-eye"></i></button> *@

@code {

    private LicencedView licencedViewRef;

    [Parameter]
    public CampaignTemplate Item { get; set; }

    TenantTemplates temp = new TenantTemplates();
    //EmailTemp temp;
    private void MyClickHandler(MouseEventArgs e) => NavigationManager.NavigateTo($"/tenant-templates/{Item.Id}");


    
}