@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@implements ICustomGridComponent<Training>
@inject NavigationManager NavigationManager

<LicencedView @ref="licencedViewRef" ShowLicenseWarning="false" AppModule="@(AppModules.TrainingCampaign)" ReadOnly="true" IsButton="true">
    <button class='btn btn-sm btn-primary @(licencedViewRef?.CurrentMode != AccessMode.ReadWrite ? "disabled-view" : "")' style="border-radius:15px" @onclick="(licencedViewRef?.CurrentMode == AccessMode.ReadWrite ? MyClickHandler : null)" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
</LicencedView>
@code {

    private LicencedView licencedViewRef;

    [Parameter]
    public Training Item { get; set; }

    [Parameter]
    public CGrid<Training> Grid { get; set; }

    private void MyClickHandler(MouseEventArgs e)
    {
        NavigationManager.NavigateTo($"/tenant-training-config/{Item.Id}");
    }
}