@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using PhishingPortal.UI.Blazor.Client
@using PhishingPortal.Dto
@implements ICustomGridComponent<TrainingQuiz>
@inject NavigationManager NavigationManager

<button class='btn btn-sm btn-primary' style="border-radius:15px" @onclick="MyClickHandler"><i class="fa fa-pencil-square-o"></i></button>

@code {
    [Parameter]
    public TrainingQuiz Item { get; set; }

    [Parameter]
    public CGrid<TrainingQuiz> Grid { get; set; }

    private void MyClickHandler(MouseEventArgs e)
    {
        NavigationManager.NavigateTo($"/training-quiz/{Item.TrainingId}");
    }
}